@using dat_q_ngo.Models;
@using dat_q_ngo.ViewModels;
@inject SignInManager<ApplicationUserModel> SignInManager
@inject UserManager<ApplicationUserModel> UserManager
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Http;

@{
    Layout="../Shared/_Layout.cshtml";
    //TODO: assing lists of videos (names) to a placeholder
    //list of videos belonged to user is empty
    //var context = new ApplicationDbContext();
    //TODO: add context here and get the videos
    List<VideoModel> video_list = ViewData["VideoList"] as List<VideoModel>;
    
}
@if(SignInManager.IsSignedIn(User))
{
    @if(video_list == null || video_list.Count() == 0)
    {
        <div style="display:inline-block;">
            <h4>Your video library is empty</h4> 
            <partial name="_UploadVideo"/>
        </div>
        <hr />
        List<VideoModel> list = ViewData["VideoList"] as List<VideoModel>;
        <ul>
            @foreach (var video in ViewData["VideoList"] as IList<VideoModel>)
            {
                ViewBag.Source = "~/StaticFiles/" + @video.FileName;
                <li>
                   <a href="@video.FilePath">@video.FileName</a>
                   <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src=URL ></iframe>
                    </div>
                   
                </li>
            }
        </ul>
    }
    else
    {
        <div style="display:inline-block;">
            <h4>Upload your videos and start earning thumb ups</h4> 
            <partial name="_UploadVideo"/>
        </div>
        <hr />
        List<VideoModel> list = ViewData["VideoList"] as List<VideoModel>;
        <ul>
            @foreach (var video in ViewData["VideoList"] as IList<VideoModel>)
            {
                ViewBag.Source = "/MyStaticFiles/" + @video.FileName;
                var Path = "MyStaticFiles/" + @video.FileName; 
                <li>
                   <a href="video.FilePat">@video.FilePath</a>
                   <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="~/MyStaticFiles/IMG_0172.mov" ></iframe>
                    </div>
                   
                </li>
            }
        </ul>
    }
}
else
{
    <h3>Logs in or creates your account and starts uploading videos and sharing to your friends</h3>
    <div>
        <a class="btn btn-primary" id = "register" asp-controller="Account" asp-action="Register">Register</a>
        <a class="btn btn-primary" id = "login" asp-controller="Account" asp-action="LogIn">Login</a>
    </div>
}